.appartement-container{
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
//    width: 50%;

}
.appartement-infos {
    margin: 30px auto 26px auto;
    display: flex;
    text-align: start;
    justify-content: space-between;
}

.appartement-title h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 51px;
    color: #ff6060;
}

.appartement-title p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #ff6060;
}

.appartement-host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.appartement-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 24px;
    gap: 40px;
}

.appartement-profile p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #ff6060;
    text-align: right;
}

.host-name
{
    width: 10%;
    text-align: end;
}

.appartement-profile img {
    border-radius: 64px;
    width: 64px;
    top: 567px;
    left: 1273px;
}

.infos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    top: 42px;
    width: 100%;
    
    justify-content: space-between;
    gap: 100px;
    
}

.equipment-list {
    padding: 0;
}



@media screen and (max-width: 768px) {
    .appartement-infos {
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 16px;
    }

    .appartement-title h1 {
        font-size: 25px;
        line-height: 26px;
        margin-bottom: 5px;
    }

    .appartement-title p {
        font-size: 18px;
        line-height: 20px;
    }

    .appartement-host {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .appartement-profile {
        margin-bottom: 0;
    }

    .appartement-profile p {
        font-size: 12px;
        line-height: 17px;
    }

    .appartement-profile img {
        width: 32px;
    }

    .appartement-container {
        display: flex;
        flex-direction: column;
        
    }


    .infos-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    }
}