.tag-list {
    display: flex;
    gap: 10px;
    padding: 20px 0;
}

.tag-element {
    background-color: #ff6060;
    color: #ffffff;
    border-radius: 10px;
    font-style: normal;
    width: 23%;
    height: 25px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 15px;
}